/* Add screen styles below */

html {
    background: #e3e3e3;

}


body {
    
    font-family: Helvetica, sans-serif;
    border-top: 30px solid #242424;


    margin: 40px;
    padding: 40px;
    color:#242424;
    background: #fff;
    
}

h1 {
    font-size: 3em;
    position: sticky;
    top: 0px;
    
    margin: 0;

}


section {
    display: flex;
    
}

.callout {
    float: left;
    width: 100px;
    height: 100px;
}



img {
    width: 85%;
    float: right;
}



h2 {
    margin: 0 0 10px 0;
    background-color: #44f094;
}



p {
    
    line-height: 1em;
    padding: 10;
 
    

    
}

#blog1 {
    border-top: 1px dotted #ccc;
    

}

.position {
    background: #e3e3e3;
    position:relative;
    top: 25px;
    left: 25px;
}


.blog {
    border-bottom: 1px dotted #ccc;
    

}

article {
    background-color: #e4e2e2;
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(1) {
    flex: 1;
}

article:nth-of-type(2) {
    flex: 2;

}

article:nth-of-type(3) {
    flex: 1;

}



h3 {
    background: #08c7f1;
}

footer {
    background: #3cb3e7;
}

header {
    
}
